body {
  color: #565a5f;
  background: #f5f6f7;
}

#main {
  margin-top: 40px;
}

.input-group-prepend,
.input-group-append {
  background: #fff
}

#rangeStart,
#rangeEnd {
  text-align: center;
}

#rangeStart {
  border-right-width: 0;
}

#rangeEnd {
  border-left-width: 0;
}

.range-label {
  border-left-width: 0;
  border-right-width: 0;
  padding: 0 !important;
}

.range-label {
  background: #fff
}

.custom-select {
  font-size: 0.85rem;
  border-left-width: 0;
}

.loading-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #e6e7e8;
  overflow: hidden;
  z-index: 9999;
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin-top: -65px;
}

.spinner {
  position: relative;
  width: 80px;
  height: 80px;
  text-align: center;
  margin: 100px auto 0;
  -webkit-animation: loading-rotate 2.0s infinite linear;
  animation: loading-rotate 2.0s infinite linear;
}

.dot-front, .dot-end {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 60%;
  height: 60%;
  background-color: #3d2594;
  border-radius: 50%;
  -webkit-animation: loading-bounce 2.0s infinite linear;
  animation: loading-bounce 2.0s infinite linear;
}

.dot-end {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes loading-rotate {
  100% {
    -webkit-transform: rotate(360deg)
  }
}
@keyframes loading-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes loading-bounce {
  0%, 100% {
    -webkit-transform: scale(0.0)
  } 50% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes loading-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#unicodeTable {
  min-height: 85vh;
  padding-bottom: 40px;
}

.unicode-box {
  float: left;
  width: 60px;
  text-align: center;
  padding: 1em 0;
}

.unicode-box span {
  display: block;
  height: 44px;
  font-family: arial, helvetica, sans-serif;
  font-size: 1.5em;
}

.unicode-box tt {
  display: block;
  font-family: D2Coding
}

#footer {
  position: relative;
  background: #fff;
  padding: 28px 0;
}